---
- name: Verify Ansible versions
  hosts: all
  tags: always
  become: false
  run_once: true
  gather_facts: false
  tasks:
    - local_action: command ./versioncheck.py
      changed_when: false

- name: Configure Waku Nodes
  hosts: node
  roles:
    - { role: open-ports, tags: open-ports }
    - { role: swap-file,  tags: swap-file  }
    # TODO: check with Waku team if still needed:
    # - { role: conn-limit, tags: conn-limit }
    - { role: certbot,    tags: certbot    }
    - { role: nim-waku,   tags: nim-waku   }

- name: Configure Waku Storage DB Nodes
  hosts: node-db
  roles:
    - { role: open-ports,             tags: open-ports  }
    - { role: swap-file,              tags: swap-file   }
    - { role: infra-role-postgres-ha, tags: postgres-ha }
